@use 'src/variables' as v;

.graph {
  height: 100%;
}

.graph-container {
  display: flex;
  width: 98vw;
  height: 85vh;
  border: 1px solid v.$darkish;
  border-radius: 10px;
}

.side {
  width: 300px;
  padding: 20px;
  border: 1px solid v.$darkish;
  border-radius: 10px;
  background-color: v.$darkish;

  & > div {
    margin-bottom: 20px;
  }

  &-address-info {
    border-radius: 10px;
    background-color: v.$darker;
    padding: 10px;
  }
}
